@font-face{
    font-family: 'SusaLight';
    src: url('../fonts/SusaLight.eot');
    src: url('../fonts/SusaLight.eot?iefix') format('eot'),
    url('../fonts/SusaLight.woff') format('woff'),
    url('../fonts/SusaLight.ttf') format('truetype'),
    url('../fonts/SusaLight.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'OptimaLT-ExtraBlack';
    src: url('../fonts/OptimaLT-ExtraBlack.eot');
    src: url('../fonts/OptimaLT-ExtraBlack.eot?iefix') format('eot'),
    url('../fonts/OptimaLT-ExtraBlack.woff') format('woff'),
    url('../fonts/OptimaLT-ExtraBlack.ttf') format('truetype'),
    url('../fonts/OptimaLT-ExtraBlack.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
body{
    background-color: #f3f3f3;
}  
.layer{
    position: relative;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}
.header{
    background-color: #f74c55;
    padding: 0 130px;
    height: 496px;
    padding-top: 15px;
}
.header::before,
.header::after{
    content: '';
    display: block;
    position: absolute; 
}
.header::before{
    top: 0; 
    left: 0;
    background-image: url("images/circle_top.png");
    width: 613px;
    height: 496px;
}
.header::after{
    right: 0; 
    top: 247px;
    background-image: url("images/circle_bottom.png");
    width: 309px;
    height: 249px;
}
@media (max-width: 920px) {
    .header::before {
        display: none;
    }
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;    
}
.logo{
    font-size: 50px;
    font-family: "SusaLight";
    display: inline-block;
    margin-bottom: 140px;
    position: relative;
}
.menu{
    padding-top: 15px;
    float: right;   
    position: relative;    
}
.menu-list{
    list-style-type: none;
    font-size: 16px;
    text-transform: uppercase;
}
.menu-item{
    float: left;
    margin: 0 0 0 30px; 
} 
@media (max-width: 768px) {
    .menu-list {
        display: none;
    }
    .menu-item {
        float: none;
        margin: 0;
    }
    .menu:before{
        content: 'MENU';
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .menu:hover .menu-list {
        display: block;
        position: absolute;
        min-width: 150px;
    }
}
.header-content{
    margin: 0 auto;
    width: 265px;
    position: relative;
    z-index: 1;
}  
.title{
    font-size: 40px;
    line-height: 1.117;
    height: 40px;
    margin-bottom: 13px;
}
.subtitle{
    font-size: 16px;
    margin-bottom: 16px;
}
.but{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    width: 154px;
    height: 45px;
    font-size: 24px;
    font-weight: 400;
    color:  rgb(255, 255, 255);
}
.textblock{
    background-color: rgb(255, 255, 255);
    padding: 75px 130px;
}
@media (max-width: 540px) {
    .textblock {
        padding: 75px 48px;
    }
}
.content{
    margin: 0 auto;
    max-width: 862px;
}
.texttitle{
    font-size: 30px;
    color: rgb(0, 0, 0);
    line-height: 1.488;
    margin-bottom: 25px;
}
.text{
    font-size: 14px;
    color: rgb(64, 64, 64);
    line-height: 1.76;
    margin-bottom: 52px;
}
.reset-float::after {
    content: '';
    display: block;
    clear: both;
}
.color_cub{
    width: 36px;
    height: 32px;
    float: left;
}
.color_cub-org{
    background-color: rgb(238, 115, 47);
}
.color_cub-red{
    background-color: rgb(247, 76, 85);
}
.color_cub-grn{
    background-color: rgb(45, 95, 59);
}
.color_cub-gr{
    background-color: rgb(64, 64, 64);
}
.color_cub-pink{
    background-color: rgb(251, 99, 107);
}
.advantages::before, 
.advantages::after{
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.advantages::before{
    background-color: rgb(64, 64, 64);
    left: 0;
}
.advantages::after{
    background-color: rgb(45, 95, 59);
    right: 0;
}
.boxes{
    margin: 0 auto;
    width: 1170px;
}
.box{
    background-color: rgb(64, 64, 64);
    width: 390px;
    height: 304px;
    padding-top: 30px;
    float: left;
}
.box-middle{
    background-color: rgb(247, 76, 85);
}
.box-last{
    background-color: rgb(45, 95, 59);
}
.box-content{
    margin-left: 48px;
}
.box_title{
    background: url("images/SEO.png") 0px no-repeat;
    font-size: 22px;
    font-weight: 400;
    line-height: 2.028; 
    padding-left: 48px;
    margin-bottom: 5px;
}
.box_title-middle{
    background: url("images/Responsive.png") 0px no-repeat;
}
.box_title-last{
    background: url("images/Cloud.png") 0px no-repeat;
}
.box_text{
    font-size: 14px;
    line-height: 1.766; 
    width: 270px;
    height: 140px;
    margin-bottom:20px;
    overflow: hidden;
}
.plus{
    background-color: rgb(39, 39, 39); 
    display: block;
    width: 35px; 
    height: 32px;
    float: right; 
    margin-right: 48px;
    font-size: 34px; 
    font-family:OptimaLT-ExtraBlack; 
    line-height: 32px;
    text-align: center;
}
.plus-middle{
    background-color: rgb(197, 56, 64);
}
.plus-last{
    background-color: rgb(28, 61, 37);
}
@media (max-width: 1170px) {
    .boxes {
        width: 100%;
    }
    .box {
        width: 100%;
        float: none;
    }
    .box-content {
        margin: 0 48px;
    }
    .box_text {
        width: 100%; 
        text-align: justify;
    }
}
.overlayblock{
    width: 100%;
    height: 499px;
    position: relative;
    background-image: url("images/overlay.jpg");
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
}
.overlay{
    background-color: black; 
    opacity: 0.88; 
    width: 100%;
    height: 499px;
    position: absolute;
}
.overlay-content{
    max-width: 548px;
    z-index: 1;
    text-align: center;
}
.overlaytext{
    font-size: 42px;
    line-height: 1.278;
    margin-bottom: 35px;
}
.bold{
    font-weight: bold;
}
.overlay-but{
    border-radius: 3px;
    width: 182px;
}
.footer{
    background-color: rgb(255, 255, 255);
    height: 79px;
}
.copyright{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    line-height: 70px;
    text-align: center;
}
.footer::before{
    content: '';
    display: block;
    background-image: url("images/footer_band.jpg");
    background-repeat: repeat-x;
    height: 9px;
}